body {
  width: 100%;
  font-family: fantasy, Helvetica, '돋움', sans-serif;
}

header {
  width: 100%;
  height: 70px;
  margin: 20px 0px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}
header .logo {
  height: 30px;
  margin: 50px;
}
header .wrap {
  height: 23px;
  margin: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
header .insta {
  height: 100%;
  margin: 0 4px;
}

nav {
  width: 100%;
  height: 60px;
}
nav .container {
  width: 1400px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .container .item {
  font-size: 50px;
  font-weight: lighter;
}

main {
  width: 100%;
  height: 800px;
  margin: 30px 0px 0px 0px;
}
main .container {
  width: 100%;
  height: 100%;
  display: flex;
}
main .container .item1 {
  background-image: url('./img_sp/alan-j-hendry-zVf-R-r3szw-unsplash.jpg');
  background-size: 100%;
  width: 33.3%;
  height: 100%;
}
main .container .item2 {
  background-image: url('./img_sp/k8-9brIbLCo950-unsplash.jpg');
  background-size: 100%;
  width: 33.3%;
  height: 100%;
}
main .container .item3 {
  background-image: url('./img_sp/jason-briscoe-UV81E0oXXWQ-unsplash.jpg');
  background-size: 100%;
  width: 33.3%;
  height: 100%;
}

footer {
  width: 100%;
  height: 150px;
  font-size: 15px;
}
footer .container {
  margin: 15px;
  line-height: 22px;
}
