@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}
/* 버튼 스타일 초기화 */
button {
  background: none;
  border: none;
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
a:link,
a:visited {
  color: #000000;
}
body {
  font-family: Pretendard-Regular, sans-serif;
  color: #000000;
  background-color: #ffffff;
}
/* sticky pc header */
.sticky-header {
  display: flex;
  position: sticky;
  visibility: hidden;
  height: 0px;
  width: 100%;
  z-index: 1;
  top: 0px;
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
  justify-content: center;
  align-items: center;
  transition-duration: 50ms;
  transition-timing-function: ease-in;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
}
.sticky-header__logo-title {
  display: flex;
  align-items: flex-end;
}
.sticky-header__logo {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}
.sticky-header__title {
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 5px;
}
.sticky-header__items {
  display: flex;
  align-items: flex-end;
  height: 31px;
  font-size: 20px;
}
.sticky-header__items > li {
  display: flex;
  margin: 0px 20px;
  align-items: center;
}
.sticky-header__item {
  display: flex;
}
.sticky-header__sns-logos {
  display: flex;
  align-items: center;
  height: 5px;
}
.sticky-header__sns-logo {
  height: 10px;
}
.sticky-header__sns-icon {
  height: 20px;
  margin-left: 10px;
}
/* 현재 페이지 표시 */
.sticky-header__overview-mark,
.sticky-header__rooms-mark,
.sticky-header__location-mark,
.sticky-header__booknow-mark,
.sticky-header__contactus-mark {
  visibility: hidden;
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 8px;
  background-color: #fca311;
  margin-right: 3px;
}

.header {
  width: 100%;
  height: 55px;
  margin: 40px 0px 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.header__sns-logos-moblie {
  display: none;
}
.header__logo-title {
  display: flex;
  align-items: flex-end;
}
.header__logo {
  width: 40px;
  height: 40px;
  margin-left: 7px;
  margin-right: 11px;
}
.header__title {
  font-size: 35px;
  font-weight: 900;
  letter-spacing: 9px;
}
.header__sns-logos-pc {
  display: flex;
  align-items: center;
  position: absolute;
  right: 20px;
}
.header__sns-logo-pc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.header__sns-icon-pc {
  margin-right: 2px;
  height: 15px;
}
.header__sns-letter-pc {
  font-size: 13px;
  font-weight: 900;
}
.header__mobile-navigation {
  display: none;
}
.navigation {
  width: 100%;
  height: 30px;
  margin: 20px 0px;
  background-color: #ffffff;
}
.navigation__items {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.navigation__items > li {
  display: flex;
  align-items: center;
  margin: 0px 30px;
}
.navigation__item {
  display: flex;
}
/* 현재 페이지 표시 */
.navigation__overview-mark,
.navigation__rooms-mark,
.navigation__location-mark,
.navigation__booknow-mark,
.navigation__contactus-mark {
  visibility: hidden;
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #fca311;
  margin-right: 5px;
}

.footer {
  background-color: #ffffff;
  height: 155px;
  width: 100%;
  font-size: 15px;
  font-weight: 900;
  line-height: 30px;
  display: flex;
  justify-content: right;
}
.footer__container {
  width: 300px;
  margin: 15px;
}
.footer__title {
  font-size: 20px;
}
.footer__sns-logos {
  display: flex;
  align-items: center;
}
.footer__sns-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 25px;
}
.footer__sns-icon {
  height: 15px;
  margin: 0px 2px;
}
.footer__sns-letter {
  font-size: 13px;
  font-weight: 900;
}
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/* 1024px 이하 */
@media all and (max-width: 1024px) {
  /* sticky pc header */
  .sticky-header__items {
    font-size: 18px;
    margin: 15px;
  }
  .sticky-header__items > li {
    margin: 0px 8px;
  }
  .header {
    margin: 25px 0px 10px 0px;
  }
  .header__logo {
    width: 35px;
    height: 35px;
  }
  .header__title {
    font-size: 30px;
  }
  .header__sns-logo-pc {
    margin-right: 5px;
  }
  .header__sns-icon-pc {
    height: 12px;
  }
  .header__sns-letter-pc {
    font-size: 10px;
  }
  .navigation {
    margin: 0px 0px 10px 0px;
  }
  .navigation__items {
    font-size: 20px;
  }
  .navigation__items > li {
    margin: 0px 15px;
  }
  /* 현재 페이지 표시 */
  .navigation__overview-mark,
  .navigation__rooms-mark,
  .navigation__location-mark,
  .navigation__booknow-mark,
  .navigation__contactus-mark {
    width: 6px;
    height: 6px;
    margin-right: 4px;
  }

  .footer {
    height: 125px;
    font-size: 12px;
    line-height: 25px;
  }
  .footer__container {
    width: 250px;
    margin: 10px;
  }
  .footer__title {
    font-size: 17px;
  }
  .footer__sns-logo {
    margin: 0px 10px;
  }
  .footer__sns-icon {
    height: 12px;
    margin: 0px 1px;
  }
  .footer__sns-letter {
    font-size: 11px;
  }
}
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/* 768px 미만 */
@media all and (max-width: 767px) {
  /* sticky pc header */
  .sticky-header {
    display: none;
  }
  /* sticky mobile header */
  .header {
    z-index: 1;
    position: sticky;
    top: 0px;
    height: 60px;
    margin: 0px;
    justify-content: space-between;
    border-bottom: 1px #e5e5e5 solid;
  }
  .header__logo {
    width: 28px;
    height: 28px;
    margin-right: 5px;
    margin-left: 25px;
  }
  .header__title {
    font-size: 23px;
    letter-spacing: 5px;
  }
  .header__sns-logos-pc {
    display: none;
  }
  .header__mobile-navigation {
    display: flex;
  }
  .header__mobile-navigation-open {
    display: flex;
  }
  .header__mobile-navigation-icon {
    height: 17px;
    margin-right: 15px;
  }
  .header__mobile-navigation-slide {
    visibility: hidden;
    display: flex;
    position: fixed;
    flex-direction: column;
    background-color: white;
    height: 100%;
    width: 0%;
    top: 0px;
    right: 0px;
    transition-duration: 50ms;
    transition-timing-function: ease-in;
    border-left: 1px #e5e5e5 solid;
  }
  .header__mobile-navigation-close {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 50px;
  }
  .header__mobile-navigation-close-icon {
    height: 20px;
    width: 20px;
    margin-right: 15px;
  }
  .header__mobile-navigation-items {
    border-bottom: 1px #e5e5e5 solid;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    font-weight: 600;
  }
  .header__mobile-navigation-items > li {
    display: flex;
    height: 60px;
    margin-left: 20px;
    align-items: center;
  }
  .header__mobile-navigation-item {
    display: flex;
  }
  /* 현재 페이지 표시 */
  .header__mobile-navigation-overview-mark,
  .header__mobile-navigation-rooms-mark,
  .header__mobile-navigation-location-mark,
  .header__mobile-navigation-booknow-mark,
  .header__mobile-navigation-contactus-mark {
    visibility: hidden;
    content: '';
    width: 4px;
    height: 9px;
    border-radius: 10px;
    background-color: #fca311;
    margin-right: 4px;
  }

  .header__mobile-navigation-sns-logos {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }
  .header__mobile-navigation-sns-logo {
    display: flex;
    justify-content: left;
    margin: 10px 0px 10px 20px;
  }
  .header__mobile-navigation-sns-icon {
    height: 15px;
  }
  .header__mobile-navigation-sns-letter {
    font-size: 15px;
    font-weight: 600;
    margin-left: 4px;
  }
  .navigation {
    display: none;
  }
  .footer {
    font-weight: 500;
    line-height: 20px;
  }
  .footer__container {
    width: 230px;
  }
  .footer__title {
    font-size: 15px;
  }
}
