@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}
/* 버튼 스타일 초기화 */
button {
  background: none;
  border: none;
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
a:link,
a:visited {
  color: black;
}
body {
  font-family: Pretendard-Regular, sans-serif;
}
/* sticky pc header */
.sticky-header-selecter {
}
.sticky-header-none {
  display: none;
}
.sticky-header {
  top: 0;
  display: flex;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 60px;
  background-color: white;
  justify-content: center;
  align-items: center;
}
.sticky-header__title {
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 20px;
  display: flex;
  justify-content: left;
}
.sticky-header__navigation {
}
.sticky-header__items {
  height: 31px;
  display: flex;
  font-size: 20px;
  align-items: flex-end;
}
.sticky-header__item {
  margin: 0px 20px;
}
.sticky-header__sns-logos {
  display: flex;
  align-items: flex-end;
  height: 5px;
}
.sticky-header__sns-logo {
  height: 10px;
}
.sticky-header__sns-icon {
  height: 20px;
  margin-left: 10px;
}

.header {
  width: 100%;
  height: 55px;
  margin: 40px 0px 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.header__sns-logos-moblie {
  display: none;
}
.header__title {
  font-size: 35px;
  font-weight: 900;
  letter-spacing: 20px;
  padding-left: 20px;
}
.header__sns-logos-pc {
  display: flex;
  align-items: center;
  position: absolute;
  right: 20px;
}
.header__sns-logo-pc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}
.header__sns-icon-pc {
  margin-right: 2px;
  height: 15px;
}
.header__sns-letter-pc {
  font-size: 13px;
  font-weight: 900;
}
.header__mobile-navigation {
  display: none;
}
.navigation {
  width: 100%;
  height: 30px;
  margin: 20px 0px;
  background-color: white;
}
.navigation__items {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.navigation__item {
  margin: 0px 30px;
}
.footer {
  width: 100%;
  font-size: 15px;
  font-weight: 900;
  line-height: 30px;
  display: flex;
  justify-content: right;
}
.footer__container {
  width: 300px;
  margin: 15px;
}
.footer__title {
  font-size: 20px;
}
.footer__sns-logos {
  display: flex;
  align-items: center;
}
.footer__sns-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 25px;
}
.footer__sns-icon {
  height: 15px;
  margin: 0px 2px;
}
.footer__sns-letter {
  font-size: 13px;
  font-weight: 900;
}
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/* 1024px 이하 */
@media all and (max-width: 1024px) {
  /* sticky pc header */
  .sticky-header {
    height: 40px;
  }
  .sticky-header__title {
    font-size: 20px;
    letter-spacing: 10px;
  }
  .sticky-header__items {
    height: 21px;
    font-size: 15px;
  }
  .sticky-header__item {
    margin: 0px 10px;
  }
  .sticky-header__sns-logo {
    height: 9px;
  }
  .sticky-header__sns-icon {
    height: 15px;
  }

  .header {
    margin: 18px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__sns-logo-pc {
    margin-right: 5px;
  }
  .header__sns-icon-pc {
    height: 12px;
  }
  .header__sns-letter-pc {
    font-size: 10px;
  }
  .navigation {
    margin: 0px 0px 5px 0px;
  }
  .navigation__items {
    font-size: 20px;
  }
  .navigation__item {
    margin: 0px 20px;
  }
  .footer {
    font-size: 12px;
    line-height: 20px;
  }
  .footer__container {
    width: 250px;
    margin: 10px;
  }
  .footer__title {
    font-size: 17px;
  }
  .footer__sns-logo {
    margin: 0px 10px;
  }
  .footer__sns-icon {
    height: 12px;
    margin: 0px 1px;
  }
  .footer__sns-letter {
    font-size: 11px;
  }
}
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/* 768px 미만 */
@media all and (max-width: 767px) {
  /* sticky pc header */
  .sticky-header-selecter {
    display: none;
  }
  /* sticky mobile header */
  .sticky-mobile {
    position: fixed;
    top: 0px;
  }

  .header {
    height: 60px;
    margin: 0px;
    justify-content: space-between;
  }
  .header__sns-logos-moblie {
    display: flex;
    margin-left: 20px;
  }
  .header__sns-logo-moblie {
    height: 15px;
    width: 20px;
  }
  .header__sns-icon-moblie {
    height: 15px;
  }
  .header__title {
    letter-spacing: 11px;
    font-size: 23px;
    padding-left: 11px;
  }
  .header__sns-logos-pc {
    display: none;
  }
  .header__mobile-navigation {
    display: flex;
    flex-direction: column;
    justify-content: right;
    height: 15px;
    margin-right: 20px;
  }
  .header__mobile-navigation-open {
  }

  .header__mobile-navigation-icon {
    height: 15px;
  }
  .header__mobile-navigation-slide {
    display: none;
    position: fixed;
    flex-direction: column;
    background-color: white;
    height: 100%;
    width: 60%;
    top: 0px;
    right: 0px;
  }
  .header__mobile-navigation-close {
    display: flex;
    position: relative;
    justify-content: right;
  }
  .header__mobile-navigation-close-icon {
    margin: 20px;
    height: 20px;
    width: 20px;
  }
  .header__mobile-navigation-items {
    display: flex;
    flex-direction: column;
  }
  .header__mobile-navigation-item {
    display: block;
    margin: 25px;
    font-size: 17px;
  }
  .navigation {
    display: none;
  }
  .footer {
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
  }
  .footer__container {
    width: 230px;
    margin: 10px;
  }
  .footer__title {
    font-size: 15px;
  }
  .footer__sns-logo {
    margin: 0px 10px;
  }
  .footer__sns-icon {
    height: 12px;
    margin: 0px 1px;
  }
  .footer__sns-letter {
    font-size: 11px;
  }
}
