.main {
  display: flex;
  justify-content: center;
  background-color: #e5e5e5;
}
.main__booknow {
  width: 60%;
  margin: 0px;
}
.main__booknow > div {
  margin: 60px 0px;
}
.main__booknow h1::before,
.main__booknow h2::before {
  display: block;
  content: '';
  width: 6px;
  height: 18px;
  background-color: #14213d;
  margin-right: 6px;
  border-radius: 10px;
}
.main__booknow h1,
.main__booknow h2 {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 900;
  margin: 25px 0px;
  letter-spacing: 2px;
}
.main__booknow h3 {
  margin: 20px 0px 20px 20px;
  font-size: 21px;
  font-weight: 900;
}
.main__booknow li {
  font-size: 20px;
  margin: 10px 0px 10px 40px;
}
.booknow__impact {
  font-weight: 900;
}
.booknow__impact-link {
  color: #fca311;
}
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/* 1024px 이하 */
@media all and (max-width: 1024px) {
  .main__booknow {
    width: 75%;
    margin: 30px 0px;
  }
  .main__booknow > div {
    margin: 30px 0px;
  }
  .main__booknow h1::before,
  .main__booknow h2::before {
    width: 5px;
    height: 14px;
    margin-right: 5px;
  }
  .main__booknow h1,
  .main__booknow h2 {
    font-size: 20px;
  }
  .main__booknow h3 {
    font-size: 17px;
  }
  .main__booknow li {
    font-size: 15px;
  }
}
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/* 768px 미만 */
@media all and (max-width: 767px) {
  .main__booknow > div {
    margin: 10px 0px;
  }
  .main__booknow h1::before,
  .main__booknow h2::before {
    width: 4px;
    height: 10px;
    margin-right: 4px;
  }
  .main__booknow h1,
  .main__booknow h2 {
    font-size: 15px;
    margin: 15px 0px;
  }
  .main__booknow h3 {
    margin: 12px 0px 12px 12px;
    font-size: 14px;
  }
  .main__booknow li {
    font-size: 13px;
    margin: 5px 0px 5px 20px;
    line-height: 18px;
  }
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/* 280px 미만 */
@media all and (max-width: 280px) {
  .main__booknow {
    margin: 20px 0px;
  }
}
