.main {
  width: 100%;
  line-height: 0px;
}
.main__img-line {
  display: flex;
}
.main__img-horizontal {
  width: 60%;
}
.main__img-vertical {
  width: 40%;
}
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/* 768px 미만 */
@media all and (max-width: 767px) {
  .main__img-line {
    display: block;
  }
  .main__img-horizontal {
    display: none;
  }
  .main__img-vertical {
    width: 100%;
  }
}
