main {
  background-color: #e5e5e5;
}
.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.location-container {
  box-sizing: content-box;
  padding: 0 10px;
  margin: 10px 0;
}
.location-container__description {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  margin-top: 60px;
  margin-bottom: 0px;
}
.container__description--hypen {
  width: 300px;
  display: flex;
  height: 20px;
  align-items: center;
  margin: 0 0 10px 0;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 2px;
}
.container__description--hypen::before {
  display: block;
  content: '';
  width: 5px;
  height: 25px;
  background-color: #14213d;
  margin-right: 10px;
}

.container__description__text-area {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}
.container__description__text-area > input:focus {
  outline: none;
}
.container__description--text {
  font-size: 20px;
  margin-left: 40px;
  line-height: 25px;
  vertical-align: middle;
}
.img-link-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  line-height: 18px;
  color: #fca311;
  cursor: pointer;
  font-size: 20px;
  font-weight: 900;
}
#location-main {
  /* height: 70vh; */
  padding: 30px 5px 60px 5px;
}
.location-container__location {
  width: 80%;
}

.show-snackbar {
  visibility: visible !important;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2s;
  animation: fadein 0.5s, fadeout 0.5s 2s;
}
.snackbar-container {
  color: white;
  visibility: hidden;
  width: 400px;
  height: 50px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  background-color: #fca311;
  position: fixed;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 15px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 15px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 15px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 15px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/* 1024px 이하 */
@media all and (max-width: 1024px) {
  .location-container__description {
    width: 77%;
  }
  .location-container__description-2nd {
    margin-top: 30px;
  }
  .container__description--hypen {
    font-size: 20px;
    letter-spacing: 2px;
  }
  .container__description--hypen::before {
    height: 20px;
    margin-right: 7px;
  }
  .container__description--text {
    font-size: 15px;
    margin-top: 10px;
    line-height: 15px;
  }
}

/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/* 768px 미만 */
@media all and (max-width: 767px) {
  .location-container {
    margin: 0;
  }
  .location-container__description {
    width: 80%;
    margin-top: 45px;
  }
  .container__description--hypen {
    margin: 0px;
    font-size: 15px;
  }
  .container__description--hypen::before {
    height: 15px;
  }
  .container__description--text {
    font-size: 13px;
    margin-left: 20px;
    line-height: 17px;
  }
  #location-main {
    padding: 30px 5px 35px 5px;
  }
  .snackbar-container {
    width: 80vw;
  }
}
