.img-link-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    line-height: 18px;
    color: #12b886;
    cursor: pointer;
}
.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.location-container {
    box-sizing: content-box;
    padding: 0 10px;
    margin: 10px 0;
}

#location-main {
    /* height: 70vh; */
    padding: 5px;
    background-color: #d2d2d2;
}

.location-container__header {
    width: 100%;
    height: 30px;
}

.location-container__location {
    width: 80%;
}

.location-container__header > span {
    color: #616161;
}

.location-container__description {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    margin-bottom: 40px;
}
.container__description--hypen {
    width: 300px;
    display: flex;
    height: 20px;
    align-items: center;
    font-size: 18px;
    margin: 0 0 10px 0;
}
.container__description__text-area {
    justify-content: left;
}
.container__description--text {
    line-height: 20px;
    vertical-align: middle;
}
.container__description__text-area > input:focus {
    outline: none;
}
.container__description--hypen::before {
    display: block;
    content: "";
    width: 5px;
    height: 20px;
    background-color: #616161;
    margin-right: 10px;
}

.show-snackbar {
    visibility: visible !important;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2s;
    animation: fadein 0.5s, fadeout 0.5s 2s;
}

.snackbar-container {
    visibility: hidden;
    width: 400px;
    height: 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    background-color: #ffdb58;
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 15px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 15px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 15px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 15px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

/* 768px 미만 */
@media all and (max-width: 767px) {
    .snackbar-container {
        width: 80vw;
    }
}
