.main {
  display: flex;
  justify-content: center;
  background-color: #e5e5e5;
}
.main__rooms {
  width: 70%;
  margin: 0px;
}
.main__rooms > div {
  width: 100%;
  margin: 60px 0px;
}
.main__rooms h1::before {
  display: block;
  content: '';
  width: 6px;
  height: 18px;
  background-color: #14213d;
  margin-right: 6px;
  border-radius: 10px;
}
.main__rooms h1 {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 900;
  margin: 25px 0px;
  letter-spacing: 2px;
}
.img__wrapper {
  height: 45vw;
  margin: 40px 0px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.img__before-button,
.img__after-button {
  cursor: pointer;
}
.img__button-icon {
  width: 25px;
  height: 40px;
  padding: 0px 10px;
}
.indoor__img,
.outdoor__img {
  object-fit: contain;
  height: 100%;
}
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/* 1024px 이하 */
@media all and (max-width: 1024px) {
  .main__rooms {
    width: 75%;
  }
  .main__rooms h1::before {
    width: 5px;
    height: 14px;
    margin-right: 5px;
  }
  .main__rooms h1 {
    font-size: 20px;
  }
  .img__button-icon {
    width: 15px;
    height: 30px;
  }
}
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/* 768px 미만 */
@media all and (max-width: 767px) {
  .main__rooms {
    margin: 25px 0px 20px 0px;
    width: 85%;
  }
  .main__rooms > div {
    margin: 20px 0px 0px 0px;
  }
  .main__rooms h1::before {
    margin-left: 20px;
    width: 4px;
    height: 10px;
    margin-right: 4px;
  }
  .main__rooms h1 {
    font-size: 15px;
    margin: 0px;
  }
  .img__wrapper {
    height: 55vw;
    margin: 25px 0;
  }
  .img__button-icon {
    width: 10px;
    height: 25px;
    padding: 0px 6px;
  }
}
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/*---------------------------------------------------------------*/
/* 280px 미만 */
@media all and (max-width: 280px) {
  .main__rooms > div {
    margin: 10px 0px 0px 0px;
  }
  .main__rooms h1::before {
    margin-left: 14px;
  }
  .img__wrapper {
    height: 51vw;
  }
}
